<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
    <description></description>
    <display-name>MycartInsertServlet</display-name>
    <servlet-name>MycartInsertServlet</servlet-name>
    <servlet-class>edu.shiep.library.servlet.MycartInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MycartInsertServlet</servlet-name>
    <url-pattern>/MycartInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>edu.shiep.library.servlet.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>edu.shiep.library.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>login</servlet-name>
      <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>edu.shiep.library.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>register</servlet-name>
      <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>show</servlet-name>
    <servlet-class>edu.shiep.library.servlet.MshowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>show</servlet-name>
      <url-pattern>/MshowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>edu.shiep.library.servlet.MUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>update</servlet-name>
      <url-pattern>/MUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>order</servlet-name>
    <servlet-class>edu.shiep.library.servlet.PorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>order</servlet-name>
      <url-pattern>/PorderServlet</url-pattern>
  </servlet-mapping>
</web-app>
